---
layout: default
title: The Altitude Lodge
gallery:
 - column-size: col-6_xs-12
   background_image: /images/fire.jpg
   aspect-ratio: portrait
 - column-size: col-6_xs-12
   background_image: /images/internal.jpg
   aspect-ratio: portrait-tall
 - column-size: col-6_xs-12
   background_image: /images/front2.jpg
   aspect-ratio: portrait-tall
 - column-size: col-6_xs-12
   background_image: /images/kitchen.jpg
   aspect-ratio: portrait
 - column-size: col-6_xs-12
   background_image: /images/bath.jpg
   aspect-ratio: portrait
 - column-size: col-6_xs-12
   background_image: /images/campfire.jpg
   aspect-ratio: portrait-tall
---
     
     <!--Top Nav-->
     <header class="z-index-top sticky bg-header padded-lr">
        {% include header-nav.html %}
      
        </header>
<!--scrolling header-->
        <section id="up" class="bg-image bg-front tall-80 bg-fixed absolute">
            <!--capped width-->
            <div class="grid capped-width-xl tall-85">
                <div class="col-12-middle text-right padded-2 sm-center">
                    <a href="#Reservations" class="button-1">Make a Reservation</a>
                    <a href="#About"        class="button-1">Take a look</a>
                </div>
            </div>
        </section>
        <!--MD holder-->
        <div class="tall-85 hide"></div>

        <!--BOOKMARK-->
        <section class="grid capped-width-xl sticky bookmark md-hide">
            <div class="col-5-bottom grid bg-image bg-front tall-85">
                <div class="col-12-top text-center padded-1">
                    <a class="fas fa-sort-up" href="#up"></a>
                 </div>
                 <div class="col-12-bottom text-center padded-1 padded-bookmark">
                     <a class="padded-r-1" href="#Reservations">
                         <p class="button-2">Make a reservation</p>
                     </a>
                     <a class="padded-r-1 padded-05-lg" href="#Contact">
                        <p class="button-2">Contact Us</p>
                    </a>
                 </div>
            </div>
        </section>
        
        <!--NEWSLETTER-->
        <section id="newsletter" class="grid text-center bg-dark center text-light news">
                <!--capped width-->
          <!--  <div class="grid tall-5 capped-width-xl">-->
                <div class="col-5 md-hide"></div>
                <!--z-index to bring text above for hover-->
                <div class="col-7_md-12-middle z-index">
                    <!--News activ ates jQuery pop up with embeded form-->
                    <news>
                        <p>Sign up to our newsletter to accedd special deals.
                            <i class="fas fa-angle-double-right"></i>
                        </p>
                    </news>
                </div>
            </div>
        </section>

        <!--ABOUT-->
        <section id="about" class="grid tall-50 padded-3 padded-b capped-width-xl ">
            <div class="col-5 md-hide"></div>
            <div class="col-7_md-12-middle padded">
                <!--Add mailerlite-->
                <h2>about us</h2>
                <p>Welcmoe to the Lodge! Altitude Lodge offers a completely off-grid experience for nature lovers. Our A-frame cabins are constructed from local Astralian timbers, set within the breathtaking Blue Monthains.</p>
                <p>Relax with a cup of coffee on the deck and hear the sounds of the local wildlife. At night, warm up around a crackling fire under the Southers Cross.</p>
                <p>If hikind is your thing, visit some of the breathtaking lookouts and stunning waterfalls the area has to offer. There are plenty of natural waterfalls and trails to explore.</p>
            </div>
        </section>

        <!--GALLERY-->
        <section id="gallery" class="grid padded-b padded-3 capped-width-xl ">
            <div class="col-5 md-hide"></div>
            <!--gallery box-->
            <div class="col-7_md-12-middle padded">
                <h2>Gallery</h2>
                <div id="lightgallery" class="grid relative gallery">
                    {% for item in page.gallery %}
                    <a class="{{item.column-size}} gallery-item padded-t-2" href="{{item.background_image}}">
                        <div class="bg-image {{item.aspect-ratio}}"
                        style="background-image:url('{{item.background_image}}');">
                    </div>
                    </a>
                    {% endfor %}
                </div>
            </div>
        </section>

        <!-------SOCIALS---------->
        <section class="bg-black text-featured">
            <div class="grid">
                <div class="col-5 tall-40 bg-black md-hide"></div>
                <div class="col-7_md-12 grid bg-image bg-social tall-50 text-featured bg-overlay">
                    <div class="col-12-bottom text-center padded-1 padded-l padded-r">
                        <h3>Share your stay with us</h3>
                        <nav class="padded-1 z-index relative">
                            <a href="#">
                                <i class="fab fa-pinterest-p"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="#">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </nav>
                    </div>
                </div>

            </div>
        </section>

        <!---FEATURES / RESERVATIONS------>
        <section id="reservations" class="bg-featured text-light padded-3">
            <div class="grid-middle tall-50">
                <div class="col-5 md-hide"></div>
                <div class="col-7_md-12-middle">
                    <h2 class="text-center"> Reservations</h2>
                    <div class="grid-center-middle padded-t-2">
                        <div class="col-4_xs-6-center center ">
                            <!---add logo-->
                            <p class="prices">Prices from $350p/n</p>    
                        </div>
                        <div class="col-8_xs-12-right padded-1 z-index">
                            <p>Our prices start at $350p/N.
                                <news class="sign-up"> Sign-up</news> 
                                to our newsletter now to keep up to date with special offers.</p>
                            <p class="font-weight-bold padded-b">Visit our Airbnb site now to make your escape!</p>
                        </div>
                        <div class="col-12 padded-2 text-center z-index">
                            <a href="#" >
                                <p class="button-3"> book now</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
