
/*  NOTES

https://novel-mole.cloudvent.net/
- fonts:
    - Didot - Regular (headings)
    - Baskerville - Regular (small text)
    - Proxima Nova - Medium
- Colors:
    - brownish - #a2745c 
    - green - #9b9b81
    - pinkish - #d3b4a2
    - grey    - #5a5a5a

- Map: [https://snazzymaps.com/style/115413/light-and-beige](https://snazzymaps.com/style/115413/light-and-beige)

*/



* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*  Temporary Styles */

 * {
    padding-right: 0.5rem;
    border: 2px solid rgb(200,200,200);
} 


/* Re-usable Utiity Classes  */
.tall-10 { min-height: 10vh; }
.tall-50 { min-height: 50vh; }
.tall-60 { min-height: 60vh; }
.tall-70 { min-height: 70vh; }
.tall-80 { min-height: 80vh; }
.tall-90 { min-height: 90vh; }


/* Padding Utility Classes */ 
.padded-sm { padding: 2.5%; }
.padded-md { padding: 5%;   }
.padded-lg { padding: 10%;  }

.padded-05 { padding: 0.5rem; }
.padded-1 { padding: 1rem; }
.padded-2 { padding: 2rem; }
.padded-3 { padding: 3rem; }

.padded   { padding: 5rem;}

.padded-t { padding-top: 5%; }
.padded-b { padding-bottom: 5%; }
.padded-l { padding-left: 5%; }
.padded-r { padding-right: 5%; }

.padded-tb { padding-top: 5%; padding-bottom: 5%; }
.padded-lr { padding-left: 5%; padding-right: 5%; }

.padded-t-1 { padding-top: 1rem; }
.padded-b-1 { padding-bottom: 1rem; }
.padded-l-1 { padding-left: 1rem; }
.padded-r-1 { padding-right: 1rem; }

.padded-t-2 { padding-top: 2rem; }
.padded-b-2 { padding-bottom: 2rem; }
.padded-l-2 { padding-left: 2rem; }
.padded-r-2 { padding-right: 2rem; }

.padded-t-0 { padding-top: 0; }
.padded-b-0 { padding-bottom: 0; }
.padded-l-0 { padding-left: 0; }
.padded-r-0 { padding-right: 0; }


/* Margin Utility Classes */ 

.margin-t { margin-top: 5%; }
.margin-b { margin-bottom: 5%; }
.margin-l { margin-left: 5%; }
.margin-r { margin-right: 5%; }

.margin-t-1 { margin-top: 1rem; }
.margin-b-1 { margin-bottom: 1rem; }
.margin-l-1 { margin-left: 1rem; }
.margin-r-1 { margin-right: 1rem; }

.margin-t-2 { margin-top: 2rem; }
.margin-b-2 { margin-bottom: 2rem; }
.margin-l-2 { margin-left: 2rem; }
.margin-r-2 { margin-right: 2rem; }

.margin-t-0 { margin-top: 0; }
.margin-b-0 { margin-bottom: 0; }
.margin-l-0 { margin-left: 0; }
.margin-r-0 { margin-right: 0; }

.margin-tb { margin-top: 5%; margin-bottom: 5%; }
.margin-lr { margin-left: 5%; margin-right: 5%; }

.bg-white    { background-color: white;}
.bg-featured { background-color: #9b9b81; }
.bg-dark     { background-color: #a2745c;  }
.bg-black    { background-color: black;}



.text-left   { text-align: left; }
.text-center { text-align: center; }
.text-right  { text-align: right; }


.text-featured{color:#bbbb9b; }
.text-light { color: white; } 

.text-small{font-size:1.5rem;}
.text-medium{
    font-size:2rem;
    line-height:1.1
}
.text-big  {font-size:4.5rem;
}

.font-weight-normal {font-weight:normal;}
.font-weight-light{font-weight:200;}
.font-weight-bold {font-weight:600;}
.font-weight-extra-bold {font-weight:800;}

.fixed{
    position:fixed;
    margin:0;
    top:0;
    left:0;
    right:0;
}
/* General typography & universal styles  */

html, 
body {
    border: none;
    font-family: "Source Sans Pro", sans-serif;
    color:rgb(60,60,60)
} 

 h1,h2,h3,h4,h5,h6 {
    border: 2px solid rgb(179, 84, 84);
    font-family: "Crimson Text", serif;
    line-height: 1.1;
    margin-bottom: 1.2rem;
  }
  
  
  h2:last-child, 
  h3:last-child, 
  h4:last-child,
  h5:last-child,
  h6:last-child,
  p:last-child {
    margin-bottom: 0;
  }
  
h1{
    font-size:22.4px;
    letter-spacing:2.24px;
    cursor:default;
    font-weight:700;
}
h2{
    text-transform:uppercase;
    padding-bottom:5%;
    font-size:2.5rem;
    font-weight:400;
    margin-bottom:0.5rem;
}

h3{
   font-size:1.6rem;
   font-weight:600;
   letter-spacing:0.01em;
   text-transform:uppercase;
}
p{
    font-weight:300;
    line-height:1.5;
    margin-bottom:0.8rem;
    font-size:1.2rem;
    letter-spacing:0.02em;
}


.subtle{
    display:inline-block;
    opacity:.8;
    font-size:1rem;
    letter-spacing:0.05em;
}
/*Links*/
a {
    color:inherit;
    text-decoration:none;
    /*border-bottom:1px solid;*/
    margin-bottom:0;
    letter-spacing:0.1em;
    font-weight:300;
    line-height:1.5;
    font-size:1.2rem;
}

a:hover{
    color:#a2745c;
}

.button-1{
    padding:0.5rem 1rem;
    background-color:white;
    border-radius:0.3rem;
    font-family: "Crimson Text", serif;
    margin:0.2rem;
    border:none;
    text-decoration:none;
    text-transform:capitalize;
    font-size:1.3rem;
    display:inline-block;
    font-weight:500;;
}

.button{
    border:2px solid white;
    text-transform:uppercase;
    font-family:"Crimson Text", serif;
    padding: .5rem 1rem;
    display: inline-block;
}

.button:hover{
    color:#9b9b81;
    background-color:white;
}
header a {
    font-size:19.2px;
    font-weight:300;
    letter-spacing:1.92px;
}

.bg-header {
    background-color:#fff;
    box-shadow: rgba(0,0,0,.08) 0 5px 20px;
  }
nav a {
    padding: 0 .8rem;
}

.sign-up{
    border-bottom:1px solid;
    padding:0.3rem;
}
.sign-up:hover{
    color:#f1e1d8;
    cursor:pointer;

}

.bg-dark a:hover{
    color:#d3b4a2;
}

.fa{
    padding:0 0.2rem;
    box-sizing:border-box;
}

.gallery [class*="col-"]{
    padding:.7%;
}

[class*="grid-"] > [class*="col-6"], [class*="grid_"] > [class*="col-6"], [class~="grid"] > [class*="col-6"] {
    flex-basis: 50%;
    max-width: 50%;
}

[class*="col"]  { padding: 0;}
[class*="col-"] { flex: none;}


/*  Footer */
footer a {
    display:block;
}
footer .fa{
    font-size:1rem;
}

/* Images & Background Images */
/*background-image: url('https://source.unsplash.com/Sg3XwuEpybU');*/


.portrait-tall {
    padding-bottom: 175%;
    margin-top:-25%;
}  /*Instagram story height*/

.portrait {padding-bottom: 125%;}
.square {padding-bottom: 100%;}
.landscape {padding-bottom: 66%;}
.landscape-wide {padding-bottom: 56%;}
    

    
.bg-image {
    background-image: url('images/front.jpg');
    background-size: cover;
    background-color: #5a5a5a;
    /*min-height:10rem; */
    background-position: center;
    background-repeat: no-repeat;
}


.bg-fire{background-image:url('images/fire.jpg');}
.bg-social{background-image:url('images/social.jpg');}


/* General CSS Responsive Styles (Apply everywhere unless overridden) */ 

.xs-show, 
.sm-show,
.md-show {
	display: none;
}

/* ------- MD Media Query (64em / 1024px) --------------- */ 
/* - Styles added here will apply at devices smaller than 576px, or zoomed in equivalent */ 

@media (max-width: 64em) {
/* Temporary visual hint for responsive editing, delete later */
body { border: 2px solid green;
        padding:0.5rem;}

  .md-show { display: block; }
  .md-hide { display: none;  }


  .md-text-center    { text-align: center; }
  .md-text-left      { text-align: left; }
  .md-text-right     { text-align: right; }

  .md-tall-80 {min-height:80vh;}
}


/* ------- SM Media Query (48em / 768px) --------------- */ 
/* - Styles added here will apply at devices smaller than 768px, or zoomed in equivalent */ 
@media (max-width: 48em) {

    /* Temporary visual hint for responsive editing, delete later */
    body {border: 2px solid blue;}

  .sm-show           { display: block; }
  .sm-hide           { display: none;  }
	 
  .sm-text-center    { text-align: center; }
  .sm-text-left      { text-align: left; }
  .sm-text-right     { text-align: right; }

  .sm-padded         { padding: 5%; }
  .sm-padded-1       { padding: 1rem; }
  .sm-padded-05      { padding: 0.5rem; }
  .sm-padded-0       { padding:0;}

  .sm-padded-t-0     { padding-top: 0; }
  .sm-padded-b-0     { padding-bottom: 0; }
  .sm-padded-l-0     { padding-left: 0; }
  .sm-padded-r-0     { padding-right: 0; }
  
  .sm-margin-t-0     { margin-top: 0; }
  .sm-margin-b-0     { margin-bottom: 0; }
  .sm-margin-l-0     { margin-left: 0; }
  .sm-margin-r-0     { margin-right: 0; }

  .sm-padded-t-1     {padding-top:1rem;}

  .logo h2           {font-size:2rem;}
  header h3          {font-size:11vw;}
}

/* ------- XS Media Query (36em / 576px) --------------- */ 
/* - Styles added here will apply at devices smaller than 576px, or zoomed in equivalent */ 

@media (max-width: 36em) {

    /* Temporary visual hint for responsive editing, delete later */
    body {border: 2px solid lightblue;}

  .xs-show { display: block; }
  .xs-hide { display: none;  }

    h1{
      font-size:1.4rem;
      line-height:1.1;
  }
  
}

/* ------- Optional XXS Media Query (25em / 400px) NOT part of default Gridlex styling--------------- */ 
/* - Styles added here will apply at devices smaller than 400px, or zoomed in equivalent */ 

@media (max-width: 25em) {
    [class*=grid] .xxs-stack {
        flex-basis: 100%;
        max-width: 100%;
    }
}


