<div class="grid-middle tall-10 capped-width-xl">
    <div class="col-4_sm-12_xs-9-middle sm-center xs-left padded-0">
        <h1>Altitude Lodge</h1>
    </div>
<!--Desktop Menu-->
    <nav class="col-8_sm-12-middle text-right sm-text-center xs-hide menu padded-0">
        <a href="#About"> About </a>
        <a href="#Gallery"> Gallery </a>
        <a href="#Reservations"> Reservations </a>
        <a href="#Contact"> Contact </a>
    </nav>

<!---mobile menu--->
    <div class="mobile-menu-button relative">
        <i class="fa fa-bars"></i>
        <i class="fa fa-times"></i>
<!--only appears when the nav is open-->
    </div>
    <nav class="mobile-nav">
        <span class="nav-title">
            Altitude Lodge
        </span>
        <a href="#About"> About </a>
        <a href="#Gallery"> Gallery </a>
        <a href="#Reservations"> Reservations </a>
        <a href="#Contact"> Contact </a>
        <span class="nav-title">
            Socials
        </span>
        <nav class="social padded-t">
            <a href="#" > <i class="fa fa-brands fa-pinterest-p"></i> </a>
            <a href="#" > <i class="fa fa-brands fa-instagram"></i></a>
            <a href="#" > <i class="fa fa-brands fa-facebook"></i></a>
            <a href="#"> <i class="fa fa-brands fa-twitter"></i></a>
         </nav>
    </nav>
</div>